<a rel="license" href="https://faculdadesalvadorarena.org.br/"><img alt="FESA" style="border-width:0" src="https://faculdadesalvadorarena.org.br/wp-content/uploads/2022/07/logo_fesa.png" /></a><br />
**FESA - Eletiva II (2025.1)** 
**N1 1ºbimestre**<br/>

Aluno(a): Kauê dos Santos Andrade <br/>
Data: 10/03/2025 <br/>

In [14]:
import pandas as pd

In [15]:
#Lê o arquivo com os dados

links = pd.read_csv('C:/Users/kauea/OneDrive/Área de Trabalho/ERROR 404/Faculdade/Ambientes inteligentes/N1 1Bm/ml-latest-small/links.csv')
movies = pd.read_csv('C:/Users/kauea/OneDrive/Área de Trabalho/ERROR 404/Faculdade/Ambientes inteligentes/N1 1Bm/ml-latest-small/movies.csv')
ratings = pd.read_csv('C:/Users/kauea/OneDrive/Área de Trabalho/ERROR 404/Faculdade/Ambientes inteligentes/N1 1Bm/ml-latest-small/ratings.csv')
tags = pd.read_csv('C:/Users/kauea/OneDrive/Área de Trabalho/ERROR 404/Faculdade/Ambientes inteligentes/N1 1Bm/ml-latest-small/tags.csv')

In [16]:
# Renomear colunas para facilitar o entendimento

links.rename(columns={'movieId': 'Código do filme', 'imdbId': 'Código do imdb', 
                    'tmdbId': 'Código do tmdb'}, inplace=True)
movies.rename(columns={'movieId': 'Código do filme', 'title': 'Títulos', 
                    'genres': 'Gêneros'}, inplace=True)
ratings.rename(columns={'userId': 'Código do usuário', 'movieId': 'Código do filme', 
                    'rating': 'Nota' ,  'timestamp' : 'Data'}, inplace=True)
tags.rename(columns={'userId': 'Código do usuário', 'movieId': 'Código do filme', 
                    'tag': 'Tipo' ,  'timestamp' : 'Data'}, inplace=True)

In [17]:
#Converte para String os dados em int e float que podem ser muito pesados sendo usados como int ou float, havendo o perigo de ultrapassar o limite dos números sem necessidade

conversor = ['Código do filme', 'Código do imdb', 'Código do tmdb']
for col in conversor:
    links[col] = links[col].astype('string')

date_columns = ['Data']
for col in date_columns:
    ratings[col] = pd.to_datetime(ratings[col], unit='s')

date_columns1 = ['Data']
for col in date_columns1:
    tags[col] = pd.to_datetime(tags[col], unit='s')

date_columns2 = ['Código do usuário','Código do filme']
for col in date_columns2:
    tags[col] = tags[col].astype('string')

In [18]:
#Mostra os primeiros 5 dados de cada tabela

print(links.head())
print(movies.head())
print(ratings.head())
print(tags.head())

  Código do filme Código do imdb Código do tmdb
0               1         114709          862.0
1               2         113497         8844.0
2               3         113228        15602.0
3               4         114885        31357.0
4               5         113041        11862.0
   Código do filme                             Títulos  \
0                1                    Toy Story (1995)
1                2                      Jumanji (1995)
2                3             Grumpier Old Men (1995)
3                4            Waiting to Exhale (1995)
4                5  Father of the Bride Part II (1995)

                                       Gêneros
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
   Código do usuário  Código do filme  Nota                Data
0                  1                1   4.0 2000-07-30 18:45:03
1                  1                3   4.0 2000-07-30 18:20:47
2                  1                6   4.0 2000-07-30 18:37:04
3                  1               47   5.0 2000-07-30 19:03:35
4                  1               50   5.0 2000-07-30 18:48:51
  Código do usuário Código do filme             Tipo                Data
0                 2           60756            funny 2015-10-24 19:29:54
1                 2           60756  Highly quotable 2015-10-24 19:29:56
2                 2           60756     will ferrell 2015-10-24 19:29:52
3                 2           89774     Boxing story 2015-10-24 19:33:27
4                 2           89774              MMA 2015-10-24 19:33:20

In [19]:
#Mostra algumas informações

print(links.info())
print(movies.info())
print(ratings.info())
print(tags.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Código do filme  9742 non-null   string
 1   Código do imdb   9742 non-null   string
 2   Código do tmdb   9734 non-null   string
dtypes: string(3)
memory usage: 228.5 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Código do filme  9742 non-null   int64
 1   Títulos          9742 non-null   object
 2   Gêneros          9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Código do usuário  100836 non-null  int64
 1   Código do filme    100836 non-null  int64
 2   Nota               100836 non-null  float64
 3   Data               100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 3.1 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Código do usuário  3683 non-null   string
 1   Código do filme    3683 non-null   string
 2   Tipo               3683 non-null   object
 3   Data               3683 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(1), string(2)
memory usage: 115.2+ KB
None

In [20]:
#

print(links.describe())
print(movies.describe())
print(ratings.describe())
print(tags.describe())

       Código do filme Código do imdb Código do tmdb
count             9742           9742           9734
unique            9742           9742           9733
top                  1         114709         4912.0
freq                 1              1              2
       Código do filme
count      9742.000000
mean      42200.353623
std       52160.494854
min           1.000000
25%        3248.250000
50%        7300.000000
75%       76232.000000
max      193609.000000
       Código do usuário  Código do filme           Nota
count      100836.000000    100836.000000  100836.000000
mean          326.127564     19435.295718       3.501557
std           182.618491     35530.987199       1.042529
min             1.000000         1.000000       0.500000
25%           177.000000      1199.000000       3.000000
50%           325.000000      2991.000000       3.500000
75%           477.000000      8122.000000       4.000000
max           610.000000    193609.000000       5.000000
       Código do usuário Código do filme              Tipo  \
count               3683            3683              3683
unique                58            1572              1589
top                  474             296  In Netflix queue
freq                1507             181               131
first                NaN             NaN               NaN
last                 NaN             NaN               NaN

                       Data
count                  3683
unique                 3411
top     2006-01-14 20:39:52
freq                      5
first   2006-01-13 19:09:12
last    2018-09-16 11:50:03

C:\Users\kauea\AppData\Local\Temp\ipykernel_21596\3042696851.py:6: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(tags.describe())