<a rel="license" href="https://faculdadesalvadorarena.org.br/"><img alt="FESA" style="border-width:0" src="https://faculdadesalvadorarena.org.br/wp-content/uploads/2022/07/logo_fesa.png" /></a><br />
**FESA - Eletiva II (2025.1)** 
**N1 1ºbimestre**<br/>

Aluno(a): Kauê dos Santos Andrade <br/>
Data: 10/03/2025 <br/>

In [ ]:
import pandas as pd

In [3]:
links = pd.read_csv('C:/Users/kauea/OneDrive/Área de Trabalho/ERROR 404/Faculdade/Ambientes inteligentes/N1 1Bm/ml-latest-small/links.csv')

In [5]:
# Renomear colunas para facilitar o entendimento
links.rename(columns={'movieId': 'Código do filme', 'imdbId': 'Código do imdb', 
                    'tmdbId': 'Código do tmdb'}, inplace=True)

In [6]:
#Converte para String os dados em int e float que podem ser muito pesados sendo usados como int ou float, havendo o perigo de ultrapassar o limite dos números sem necessidade
conversor = ['Código do filme', 'Código do imdb', 'Código do tmdb']
for col in conversor:
    links[col] = links[col].astype('string')

In [7]:
links.head()

  Código do filme Código do imdb Código do tmdb
0               1         114709          862.0
1               2         113497         8844.0
2               3         113228        15602.0
3               4         114885        31357.0
4               5         113041        11862.0

In [8]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Código do filme  9742 non-null   string
 1   Código do imdb   9742 non-null   string
 2   Código do tmdb   9734 non-null   string
dtypes: string(3)
memory usage: 228.5 KB

In [9]:
links.describe

<bound method NDFrame.describe of      Código do filme Código do imdb Código do tmdb
0                  1         114709          862.0
1                  2         113497         8844.0
2                  3         113228        15602.0
3                  4         114885        31357.0
4                  5         113041        11862.0
...              ...            ...            ...
9737          193581        5476944       432131.0
9738          193583        5914996       445030.0
9739          193585        6397426       479308.0
9740          193587        8391976       483455.0
9741          193609         101726        37891.0

[9742 rows x 3 columns]>