<a rel="license" href="https://faculdadesalvadorarena.org.br/"><img alt="FESA" style="border-width:0" src="https://faculdadesalvadorarena.org.br/wp-content/uploads/2022/07/logo_fesa.png" /></a><br />
**FESA - Eletiva II (2025.1)** 
**N1 1ºbimestre**<br/>

Aluno(a): Kauê dos Santos Andrade <br/>
Data: 10/03/2025 <br/>

In [21]:
import pandas as pd

In [22]:
movies = pd.read_csv('C:/Users/kauea/OneDrive/Área de Trabalho/ERROR 404/Faculdade/Ambientes inteligentes/N1 1Bm/ml-latest-small/movies.csv')

In [23]:
# Renomear colunas para facilitar o entendimento
movies.rename(columns={'movieId': 'Código do filme', 'title': 'Títulos', 
                    'genres': 'Gêneros'}, inplace=True)

In [24]:
movies.head()

,Código do filme,Títulos,Gêneros
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [25]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Código do filme  9742 non-null   int64
 1   Títulos          9742 non-null   object
 2   Gêneros          9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [26]:
movies.describe

<bound method NDFrame.describe of       Código do filme                                    Títulos  \
0                   1                           Toy Story (1995)
1                   2                             Jumanji (1995)
2                   3                    Grumpier Old Men (1995)
3                   4                   Waiting to Exhale (1995)
4                   5         Father of the Bride Part II (1995)
...               ...                                        ...
9737           193581  Black Butler: Book of the Atlantic (2017)
9738           193583               No Game No Life: Zero (2017)
9739           193585                               Flint (2017)
9740           193587        Bungo Stray Dogs: Dead Apple (2018)
9741           193609        Andrew Dice Clay: Dice Rules (1991)

                                          Gêneros
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]>