<a rel="license" href="https://faculdadesalvadorarena.org.br/"><img alt="FESA" style="border-width:0" src="https://faculdadesalvadorarena.org.br/wp-content/uploads/2022/07/logo_fesa.png" /></a><br />
**FESA - Eletiva II (2025.1)** 
**N1 1ºbimestre**<br/>

Aluno(a): Kauê dos Santos Andrade <br/>
Data: 10/03/2025 <br/>

In [53]:
import pandas as pd

In [54]:
ratings = pd.read_csv('C:/Users/kauea/OneDrive/Área de Trabalho/ERROR 404/Faculdade/Ambientes inteligentes/N1 1Bm/ml-latest-small/ratings.csv')

In [55]:
# Renomear colunas para facilitar o entendimento
ratings.rename(columns={'userId': 'Código do usuário', 'movieId': 'Código do filme', 
                    'rating': 'Nota' ,  'timestamp' : 'Data'}, inplace=True)

In [56]:
#Converte para DateTime os dados que precisam ser manipulados como data
date_columns = ['Data']
for col in date_columns:
    ratings[col] = pd.to_datetime(ratings[col], unit='s')

In [57]:
ratings.head()

   Código do usuário  Código do filme  Nota                Data
0                  1                1   4.0 2000-07-30 18:45:03
1                  1                3   4.0 2000-07-30 18:20:47
2                  1                6   4.0 2000-07-30 18:37:04
3                  1               47   5.0 2000-07-30 19:03:35
4                  1               50   5.0 2000-07-30 18:48:51

In [58]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Código do usuário  100836 non-null  int64
 1   Código do filme    100836 non-null  int64
 2   Nota               100836 non-null  float64
 3   Data               100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 3.1 MB

In [59]:
ratings.describe

<bound method NDFrame.describe of         Código do usuário  Código do filme  Nota                Data
0                       1                1   4.0 2000-07-30 18:45:03
1                       1                3   4.0 2000-07-30 18:20:47
2                       1                6   4.0 2000-07-30 18:37:04
3                       1               47   5.0 2000-07-30 19:03:35
4                       1               50   5.0 2000-07-30 18:48:51
...                   ...              ...   ...                 ...
100831                610           166534   4.0 2017-05-03 21:53:22
100832                610           168248   5.0 2017-05-03 22:21:31
100833                610           168250   5.0 2017-05-08 19:50:47
100834                610           168252   5.0 2017-05-03 21:19:12
100835                610           170875   3.0 2017-05-03 21:20:15

[100836 rows x 4 columns]>