<a rel="license" href="https://faculdadesalvadorarena.org.br/"><img alt="FESA" style="border-width:0" src="https://faculdadesalvadorarena.org.br/wp-content/uploads/2022/07/logo_fesa.png" /></a><br />
**FESA - Eletiva II (2025.1)** 
**N1 1ºbimestre**<br/>

Aluno(a): Kauê dos Santos Andrade <br/>
Data: 10/03/2025 <br/>

In [18]:
import pandas as pd

In [19]:
tags = pd.read_csv('C:/Users/kauea/OneDrive/Área de Trabalho/ERROR 404/Faculdade/Ambientes inteligentes/N1 1Bm/ml-latest-small/tags.csv')

In [20]:
# Renomear colunas para facilitar o entendimento
tags.rename(columns={'userId': 'Código do usuário', 'movieId': 'Código do filme', 
                    'tag': 'Tipo' ,  'timestamp' : 'Data'}, inplace=True)

In [21]:
#Converte para DateTime os dados que precisam ser manipulados como data
date_columns1 = ['Data']
for col in date_columns1:
    tags[col] = pd.to_datetime(tags[col], unit='s')

date_columns2 = ['Código do usuário','Código do filme']
for col in date_columns2:
    tags[col] = tags[col].astype('string')

In [22]:
tags.head()

  Código do usuário Código do filme             Tipo                Data
0                 2           60756            funny 2015-10-24 19:29:54
1                 2           60756  Highly quotable 2015-10-24 19:29:56
2                 2           60756     will ferrell 2015-10-24 19:29:52
3                 2           89774     Boxing story 2015-10-24 19:33:27
4                 2           89774              MMA 2015-10-24 19:33:20

In [23]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Código do usuário  3683 non-null   string
 1   Código do filme    3683 non-null   string
 2   Tipo               3683 non-null   object
 3   Data               3683 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(1), string(2)
memory usage: 115.2+ KB

In [24]:
tags.describe

<bound method NDFrame.describe of      Código do usuário Código do filme              Tipo                Data
0                    2           60756             funny 2015-10-24 19:29:54
1                    2           60756   Highly quotable 2015-10-24 19:29:56
2                    2           60756      will ferrell 2015-10-24 19:29:52
3                    2           89774      Boxing story 2015-10-24 19:33:27
4                    2           89774               MMA 2015-10-24 19:33:20
...                ...             ...               ...                 ...
3678               606            7382         for katie 2007-02-11 22:46:59
3679               606            7936           austere 2007-03-08 22:18:54
3680               610            3265            gun fu 2017-05-03 20:39:44
3681               610            3265  heroic bloodshed 2017-05-03 20:39:38
3682               610          168248  Heroic Bloodshed 2017-05-03 20:44:30

[3683 rows x 4 columns]>